backcall==0.1.0
backports-abc==0.5
decorator==4.3.0
ipython==6.5.0
ipython-genutils==0.2.0
jedi==0.13.1
Jinja2==2.10
MarkupSafe==1.0
numpy==1.15.2
opencv-python==3.4.3.18
ortools==6.9.5824
pandas==0.20.1
parso==0.3.1
pexpect==4.6.0
pickleshare==0.7.5
prompt-toolkit==1.0.15
protobuf==3.6.1
ptyprocess==0.6.0
PuLP==1.6.9
Pygments==2.2.0
pyparsing==2.2.2
python-dateutil==2.7.4
pytz==2018.6
Send2Trash==1.5.0
simplegeneric==0.8.1
six==1.11.0
terminado==0.8.1
tornado==5.1.1
traitlets==4.3.2
typing==3.6.6
wcwidth==0.1.7
